# Mac OS
.DS_Store

# Builds
target
websites/dist
showcases/studio/dist
bridge/
/ids.txt
rust_out

# Copies
*\ copy*

# Ignored
_*
!__*.py
/*.md
/*.py
/*.json
/*.html
!/btc-cycle-sim.html
/research
/filter_*
/heatmaps*
/oracle*
/playground
/*.txt
/*.csv
/tmp
**/.test

# Logs
*.log*

# Environment variables/configs
.env

# Profiling
profile.json.gz
flamegraph.svg
*.trace

# AI
.claude/settings*
!CLAUDE.md

# Expand
expand.rs

# AI
.claude
